@font-face {
    font-family: "Neue Montreal";
    src: 
        url("assets/fonts/NeueMontreal/NeueMontreal-Regular.woff2") format("woff2"),
        url("assets/fonts/NeueMontreal/NeueMontreal-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Neue Montreal";
    src: 
        url("assets/fonts/NeueMontreal/NeueMontreal-Medium.woff2") format("woff2"),
        url("assets/fonts/NeueMontreal/NeueMontreal-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Tiempos Headline";
    src: 
        url("assets/fonts/TiemposHeadline/Tiempos\ HeadlineTest-LightItalic.woff2") format("woff2"),
        url("assets/fonts/TiemposHeadline/Tiempos\ HeadlineTest-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Tiempos Headline";
    src:
        url("assets/fonts/TiemposHeadline/Tiempos\ HeadlineTest-Light.woff2") format("woff2"),
        url("assets/fonts/TiemposHeadline/Tiempos\ HeadlineTest-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}


:root {
    --background: linear-gradient(to bottom, #E2E2E2 500px, #DAFF83 800px, #DAFF83 100%);
    --text: #0A0A0A;
    --selection: #DAFF83;
    --filter: filter: invert(0%) sepia(88%) saturate(22%) hue-rotate(224deg) brightness(103%) contrast(92%);
}

:root.dark-mode {
    --background: linear-gradient(to bottom, #1d1d1d 500px, #25007c 800px, #25007c 100%);
    --text: #f5f5f5;
    --selection: #25007c;
    --filter: filter: invert(99%) sepia(96%) saturate(23%) hue-rotate(154deg) brightness(105%) contrast(92%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--selection);
}

body {
    overflow-x: hidden;
    overscroll-behavior: none;
    background: var(--background);
    line-height: 1.4;
    font-family: "Neue Montreal", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--text);
    text-underline-offset: 4.5px;
    text-decoration-thickness: 1.5px; 
}

a:visited {
    color: var(--text);
}

.link-hover-opacity:hover,
.link-container:hover {
    opacity: 0.5;
}

.low-opacity {
    opacity: 0.4;
}

.medium-font {
    font-family: "Neue Montreal", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.italic-font {
    font-family: "Tiempos Headline", sans-serif;
    font-style: italic;
    font-weight: 300;
}

.italic {
    font-style: italic;
}

.underlined {
    text-decoration: underline;
    text-underline-offset: 4.5px;
    text-decoration-thickness: 1.5px;
}

.navbar {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    z-index: 1000;
    font-family: "Tiempos Headline", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.left-content-container,
.right-content-container {
    display: flex;
    gap: 10vw;
    align-items: flex-start;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.name {
    font-size: 1.3rem;
    text-decoration: none;
}

.name:hover {
    opacity: 0.5;
}

.role {
    font-size: 1.2rem;
    opacity: 0.4;
    margin: 0;
}

.clock-container {
    font-size: 1.2rem;
    font-style: normal;
    display: flex;
    gap: 1rem;
}

.time-display {
    width: 4rem;
}

.toggle-container {
    padding: 4px;
}

.toggle-button {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: none;
    color: var(--text);
    border: 1.5px solid var(--text);
}

.star-container {
    padding: 4px;
}

.star {
    width: 2.2rem;
    height: auto;
}

.main-text {
    padding: 0 2rem;
    margin-top: 20rem;
    margin-bottom: 14rem;
    width: 100vw;
    font-size: clamp(2rem, 5.6vw, 12rem);
    line-height: 0.88;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

@media (max-width: 1100px) {
    .main-text {
        font-size: clamp(1.8rem, 5.4vw, 8rem);
    }
}

@media (max-width: 600px) {
    .main-text {
        font-size: clamp(1.6rem, 5vw, 8rem);
    }
}

.indented-paragraph {
    text-indent: 10%;
}

.three-column-container {
    margin-bottom: 6rem;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}

.column-title {
    font-family: "Tiempos Headline", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
    margin-top: 3.2rem;
}

.link-container a {
    line-height: 1.7;
}

.column.first {
    grid-column: 1 / span 3;
}

.column.first p:not(:last-child) {
    margin-bottom: 2rem;
}

.column.first p:last-child {
    margin-top: 4rem;
}

.column.second {
    grid-column: 6 / span 3;
}

.column.second .column-title:nth-of-type(2) {
    margin-top: 4.6rem;;
}

.column.third {
    grid-column: 10 / span 3;
}

.copyright {
    padding: 2rem 2rem;
    font-size: 0.8rem;
    opacity: 0.5;
}