*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}


body {
    overscroll-behavior: none;
    background: linear-gradient(to bottom, #E2E2E2 500px, #DAFF83 800px, #DAFF83 100%);
    line-height: 1.5;
}

#navbar {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 32px 32px;
    z-index: 1000;
}

#name-container {
    flex: 0 0 25%;
}

#time-display {
    flex: 1;
}

#star {
    
}


#main-text {
    padding: 240px 0;
    font-size: 6rem;
    line-height: 0.8;
}

#three-column-container {
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.column {
    width: 20%;
}

#copyright {
    padding: 20px 0;
}