@font-face {
    font-family: "Neue Montreal";
    src: 
        url("assets/fonts/NeueMontreal/NeueMontreal-Regular.woff2") format("woff2"),
        url("assets/fonts/NeueMontreal/NeueMontreal-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Neue Montreal";
    src: 
        url("assets/fonts/NeueMontreal/NeueMontreal-Medium.woff2") format("woff2"),
        url("assets/fonts/NeueMontreal/NeueMontreal-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Tiempos Headline";
    src: 
        url("assets/fonts/TiemposHeadline/Tiempos\ HeadlineTest-LightItalic.woff2") format("woff2"),
        url("assets/fonts/TiemposHeadline/Tiempos\ HeadlineTest-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Tiempos Headline";
    src:
        url("assets/fonts/TiemposHeadline/Tiempos\ HeadlineTest-Light.woff2") format("woff2"),
        url("assets/fonts/TiemposHeadline/Tiempos\ HeadlineTest-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

.medium-font {
    font-family: "Neue Montreal", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.italic-font {
    font-family: "Tiempos Headline", sans-serif;
    font-style: italic;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}

body {
    overscroll-behavior: none;
    background: linear-gradient(to bottom, #E2E2E2 500px, #DAFF83 800px, #DAFF83 100%);
    line-height: 1.5;
}

#navbar {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 2rem;
    z-index: 1000;
    font-family: "Tiempos Headline", sans-serif;
    font-weight: 300;
    font-style: italic;
}

#name-container {
    flex: 0 0 25%;
}

#name {
    font-size: 1.3rem;
}

#role {
    font-size: 1.2rem;
    color: #888888;
}

#clock-container {
    font-size: 1.2rem;
    flex: 1;
    font-style: normal;
    display: flex;
    gap: 1rem;
}

#time-display {
    width: 4rem;
}

#star {
    width: 2.4rem;
    height: auto;
    transition: transform 0.2s;
}


#main-text {
    padding: 20.5rem 2rem;
    font-size: clamp(0.5rem, 6vw + 0.5rem, 6.3rem);
    line-height: 0.88;
    max-width: 100%;
    white-space: nowrap;
}

.not-indented-paragraph,
.indented-paragraph {
    width: 100%;
}
.indented-paragraph {
    text-indent: 8rem;
}

#three-column-container {
    padding: 8rem 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.column {
    width: 20%;
}

#copyright {
    padding: 2rem 2rem;
}